.adminbtn {
    color: white;
}

.activated {
    Color: #4CAF50;
}

.chartheight {
    height: 400px;
}

.canvasleft {
    margin-left: 55px;
}

.canvasline {
    margin-top: 50px;
    height: 280px;
}

.boxshad{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
}